@import "colors";

$fsize: 24px;
$ffamily: 'Trebuchet', sans-serif;

body {
  background-color: $bgcolor;
  color: $fontcolor;
  padding: 50px;
}

.fav-food {
  font-size: $fsize;
  margin-top: 20px;
}

.hide {
  display: none;
}
.output {
  margin: 0 auto;
}
